{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vartotojų sąrašas</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Vartotojo vardas</th>
                <th>Vaikas</th>
                <th>Rolė</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                <td>{{ user.childUsername }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_show', { 'id': user.id }) }}">Rodyti</a>
                        </li>
                        <li>
                            <a href="{{ path('users_edit', { 'id': user.id }) }}">Redaguoti</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Naujas</a>
        </li>
    </ul>
{% endblock %}
