{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rolių sąrašas</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Aprašymas</th>
                <th>Puslapiai</th>
                <th>Kursai</th>
                <th>Pamokos</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('roles_show', { 'id': role.id }) }}">{{ role.title }}</a></td>
                <td>{{ role.description }}</td>
                <td>{{ role.pages }}</td>
                <td>{{ role.courses }}</td>
                <td>{{ role.lessons }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roles_show', { 'id': role.id }) }}">Rodyti</a>
                        </li>
                        <li>
                            <a href="{{ path('roles_edit', { 'id': role.id }) }}">Redaguoti</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_new') }}">Grįžti į sąrašą</a>
        </li>
    </ul>
{% endblock %}
