{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendancies list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Pažymys</th>
                <th>Note</th>
                <th>Attended</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attendancy in attendancies %}
            <tr>
                <td><a href="{{ path('attendancies_show', { 'id': attendancy.id }) }}">{{ attendancy.mark }}</a></td>
                <td>{{ attendancy.note }}</td>
                <td>{% if attendancy.attended %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attendancies_show', { 'id': attendancy.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_TEACHER') %}
                            <li>
                                <a href="{{ path('attendancies_edit', { 'id': attendancy.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') %}
        <ul>
            <li>
                <a href="{{ path('attendancies_new') }}">Create a new entry</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
