{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pamokų sąrašas</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Pamoka</th>
                <th>Studentas</th>
                <th>Pažymys</th>
                <th>Pastaba</th>
                <th>Dalyvavo</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for attendancy in attendancies %}
            {% if attendancy.student == app.user or attendancy.student == app.user.child or is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
                <tr>
                    <td><a href="{{ path('attendancies_show', { 'id': attendancy.id }) }}">{{ attendancy.lesson }}</a></td>
                    <td>{{ attendancy.student }}</td>
                    <td>{{ attendancy.mark }}</td>
                    <td>{{ attendancy.note }}</td>
                    <td>{% if attendancy.attended %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('attendancies_show', { 'id': attendancy.id }) }}">Rodyti</a>
                            </li>
                            {% if is_granted('ROLE_TEACHER') %}
                                <li>
                                    <a href="{{ path('attendancies_edit', { 'id': attendancy.id }) }}">Redaguoti</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') %}
        <ul>
            <li>
                <a href="{{ path('attendancies_new') }}">Naujas</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
