{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pamoka</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Studentas</th>
                <td>{{ attendancy.student }}</td>
            </tr>
            <tr>
                <th>Pamoka</th>
                <td>{{ attendancy.lesson }}</td>
            </tr>
            <tr>
                <th>Pažymys</th>
                <td>{{ attendancy.mark }}</td>
            </tr>
            <tr>
                <th>Pastaba</th>
                <td>{{ attendancy.note }}</td>
            </tr>
            <tr>
                <th>Dalyvavo</th>
                <td>{% if attendancy.attended %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attendancies_index') }}">Grįžti į sąrašą</a>
        </li>
        {% if is_granted('ROLE_TEACHER') %}
            <li>
                <a href="{{ path('attendancies_edit', { 'id': attendancy.id }) }}">Redaguoti</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Šalinti">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
