{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kursų sąrašas</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Aprašymas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('courses_show', { 'id': course.id }) }}">{{ course.title }}</a></td>
                <td>{{ course.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('courses_show', { 'id': course.id }) }}">Rodyti</a>
                        </li>
                        <li>
                            <a href="{{ path('courses_edit', { 'id': course.id }) }}">Redaguoti</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('courses_new') }}">Naujas</a>
        </li>
    </ul>
{% endblock %}
